@*@model IEnumerable<core_beefNoodles.Models.Noodle>*@
@model core_beefNoodles.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<nav class="nav nav-pills nav-fill">
    <a class="nav-item nav-link active" a asp-controller="Home" asp-action="Index">首页</a>
    <a class="nav-item nav-link" asp-controller="Feedback" asp-action="Index">意见反馈</a>
</nav>

<div style="width:100%;">
    <h2>产品列表</h2>
</div>


@foreach (var noodle in Model.noodles)
{
<div class="col-sm-8 col-lg-3 col-md-6" style="margin-bottom:25px;">
    <a href="Home/Detail?id=@noodle.Id">
        <div class="img-thumbnail">
            <img style="width:100%;height:300px;" src="@noodle.ImageUrl" />
            <div class="figure-caption">
                <h3>$ @noodle.Price</h3>
                <h3>
                    @noodle.Name
                </h3>
                <p>@noodle.ShortDescription</p>
            </div>
        </div>
    </a>
</div>

}
<div style="width:100%;">
    <h2>评论</h2>
</div>

<div class="list-group" style="width:100%">

    @foreach (var feedback in Model.feedbacks)
    {
        <a class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="form-control-plaintext">@feedback.Name</h5>
                <small class="float-right">@feedback.CreateDataUTC</small>
            </div>
            <p>@feedback.Message</p>
        </a>
    }
</div>
